<div id="inventory" class="modal" style="display: none;">
    <div class="modal-content" style="background-color: #b3b3b3; width: fit-content;">
        <table id="codekeypad">
            <tbody>
            <tr>
              <!-- button tag can be buggy so we use input type=button -->
              <td><input id="1" class="keypad_btn" type="button" value="1" > </td>
              <td><input id="2" class="keypad_btn" type="button" value="2"> </td>
              <td><input id="3" class="keypad_btn" type="button" value="3" > </td>
              </tr>
              <tr>
              <td><input id="4" class="keypad_btn" type="button" value= "4"> </td>
              <td><input id="5" class="keypad_btn" type="button" value= "5"> </td>
              <td><input id="6" class="keypad_btn" type="button" value= "6"> </td>
              </tr>
      
              <tr>
              <td><input id="7" class="keypad_btn" type="button" value= "7"> </td>
              <td><input id="8" class="keypad_btn" type="button" value= "8"> </td>
              <td><input id="9" class="keypad_btn" type="button" value="9"> </td>
            </tr>
            <tr>
                <td></td>
                <td><input id="0" class="keypad_btn" type="button" value= "0"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <td><input id="close_btn" class="keypad_btn" type="button" value="submit"></td>
        </div>
    </div>
</div>