<div id="output">
    <table>
      <tbody>
        <tr>
          <td>
    <!-- simple HTML console-->
    <div id="console" style="font-family: monospace;">
  <!-- For loop logic of jinja template -->
          <!-- 18 px for Consolas-->
      <!--https://stackoverflow.com/questions/45719062/jinja-docx-template-avoiding-new-line-in-nested-for-->
    {%for y in range(0, 20)%} 
    <div style="height:18px;">
    {%for x in range(0, 20)%}<span class="{{terminal[x][y][2] }}" style="color:rgb({{terminal[x][y][1]}});">{{terminal[x][y][0]|safe}}</span>{%endfor%}
    </div>
    {%endfor%} 
    </div>
          </td>
          <td style="vertical-align: top;">
            <div> HP: {{stats.hp}}/{{stats.max_hp}} </div>
            <div style="background-color: red; height: 20px; width: {{ stats.hp*5}}px;"></div>
            <p>Position: x {{position.x }}  y {{ position.y }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  
    </div>
    <div id="messages" style="font-family: monospace; padding-top: 20px;">
      {%for message in messages %}
      <div>
      <span style="background-color: black; color:rgb({{message[1]}})">{{message[0]}}</span>
      </div>
      {%endfor%}
      </div>
  
    <div id="keypad" class="keypad">
  
        <table id="main">
  
        <tbody>
  
        <tr>
  
          <!-- button tag can be buggy so we use input type=button -->
  
          <!-- using hex values for Unicode characters -->
  
          <td><input id="go_nw" class="keypad_btn" type="button" value="&#9700" > </td>
  
          <!-- for consistency -->
  
          <td><input id="go_n" class="keypad_btn" type="button" value="&#9650"> </td>
  
          <td><input id="go_ne" class="keypad_btn" type="button" value="&#9701" > </td>
  
          </tr>
  
          <tr>
  
          <td><input id="go_w" class="keypad_btn" type="button" value= "&#9664"> </td>
  
          <!-- midline ellipsis -->
  
          <td><input id="go_wait" class="keypad_btn" type="button" value= "&#8943"> </td>
  
          <td><input id="go_e" class="keypad_btn" type="button" value= "&#9654"> </td>
  
          </tr>
  
          <tr>
  
          <td><input id="go_sw" class="keypad_btn" type="button" value= "&#9699"> </td>
  
          <!-- for consistency -->
  
          <td><input id="go_s" class="keypad_btn" type="button" value= "&#9660"> </td>
  
          <td><input id="go_se" class="keypad_btn" type="button" value="&#9698"> </td>
  
        </tr>
        <tr>
          <td><input id="get" class="keypad_btn" type="button" value="get"></td>
          <td><input id="drop" type="button" value="drop"></td>
          <td><input id="inven" type="button" value="Inv"> </td>
        </tr>
        <tr>
          <td><input id="enter" class="keypad_btn" type="button" value="enter"></td>
        </tr>
        <tr>
          <td><input id="save" class="keypad_btn" type="button" value="save"></td>
          <td><input id="load" class="keypad_btn" type="button" value="load"></td>
        </tr>
  
        </tbody>
  
        </table>
        <div id="inventory"></div>
      </div>